*.class
*.log
.cache
.history
.DS_Store
.lib/
app/*
dist/*
target/
tmp/
logs/
build/
lib_managed/
src_managed/
project/boot/
project/target/
project/project/
project/plugins/project/
#idea
.idea
*.iml
.idea_modules
*.json
*.json--
tmp/
local_state_data/
*.swp
.scala_dependencies
.worksheet
release/staging/

lib/project/build.properties
examples/example-proc/project/build.properties
examples/example-dsl/project/build.properties
examples/kafka-local-server/project/build.properties

examples/example-proc/src/main/resources/application-proc.conf
examples/example-dsl/src/main/resources/application-dsl.conf
